:root {
  --avatar:url('https://xatimg.com/image/H292fHVdcCTw.png')no-repeat;
  --outer-back:url('https://xatimg.com/image/MhogZyTjNaYg.png');
  --inner-back:url('https://xatimg.com/image/MhogZyTjNaYg.png') 0 0/cover no-repeat#000;
  --color:#e5bdfd;
}